.home-container{
  & > .home-body{
    width: 100%;
    height: calc(100vmin - 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn{
    width: 100%;
    margin: 0;
  }
}
